<div class="container header-container">
    <div class="title-container">
        <div class="page-title">
            {{#link-to 'index'}}<img src="/assets/images/mnst_white.svg">{{/link-to}}
        </div>
        <div class="hamburger-box">
            <div class="hamburger" onclick={{action 'toggleNav'}}>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <nav>
        <ul onclick={{action 'toggleNav'}}>
            <li>{{#link-to "index"}}Home{{/link-to}}</li>
            <li>{{#link-to "posts"}}Posts{{/link-to}}</li>
            <li>{{#link-to "events"}}Events{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>
        </ul>
    </nav>
</div>