@media screen and (max-width: 550px) {
    .hidden-mobile {
        display: none;
    }
}
@media screen and (min-width: 551px) and (max-width: 1024px) {
    .hidden-tablet {
        display: none;
    }
    
}
@media screen and (max-width: 1024px) {
    .hamburger {
        display: inline-block;
    }
    header .header-container {
        padding: 0;
        flex-flow: column wrap;
    }
        header .header-container .title-container, header .header-container nav {
            flex-grow: 1;
        }
        header .header-container .title-container {
            width: 100%;
            padding: 0 30px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }
            header .header-container .title-container .page-title {
                flex-grow: 1;
                text-align: left;
            }
                header .header-container .title-container .page-title img {
                    height: 4.5rem;
                }
            header .header-container .title-container .hamburger-box {
                flex-grow: 0;
            }
        header .header-container nav {
            width: 100%;
        }
        header .header-container nav ul {
            width: 100%;
            display: none;
        }
            header .header-container nav ul.show-all {
                display: flex;
                flex-flow: column wrap;
            }
            header .header-container nav ul li {
                flex-grow: 1;
            }
                header .header-container nav ul li a {
                    font-size: 1em;
                }
}
@media screen and (min-width: 1025px) {
    .hidden-desktop {
        display: none;
    }
    .hamburger {
        display: none;
    }
    header .header-container {
        flex-flow: row nowrap;
    }
        header .header-container .page-title {
            flex-grow: 0;
        }
        header .header-container nav {
            flex-grow: 1;
        }
            header .header-container nav ul {
                display: flex;
                flex-flow: row nowrap;
            }
                header .header-container nav ul li {
                    flex-grow: 0;
                }
}