<section id="about-title" class="section-heading palette-white">
    <div class="center-align">
        <h2>About Us</h2>
    </div>
</section>
<section id="about" class="cover-container">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="image-container">
                    <img src="/assets/images/mn_st_life.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4 class="subheading">Who are we?</h4>
                <p>MN STs is a group of Ford ST/RS owners and enthusiasts based in Minnesota.  While a majority of us are located in or near the Twin Cities, there are active members all over the state.</p>
                <p>Through meet-ups, cruises, shows, and other events, our aim as a community is to share our interest in ST, RS, and other performance-oriented Fords, all while growing the Minnesota car community.</p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <h4 class="subheading">Can I join?</h4>
                <p>Of course!  Most of our members own Fiesta STs, Focus STs, and Focus RSs, but anyone is welcome to join!</p>
                <p>While we have no official MN ST forum (yet!), our members are active across a number of forums and social sites:</p>
                <ul class="unstyled-list table-list">
                    <li>
                        {{fa-icon "gear" size="sm"}}
                        <a href="https://www.facebook.com/groups/604231966385537/">MN STs on Facebook</a>
                    </li>
                    <li>
                        {{fa-icon "gear" size="sm"}}
                        <a href="http://focusst.org/forum/midwest-st-owners/6774-minnesota-st-owners.html">focusst.org</a>
                    </li>
                    <li>
                        {{fa-icon "gear" size="sm"}}
                        <a href="http://www.fiestast.org/forum/midwest-st-owners/1048-any-minnesotans-you-betcha.html">fiestast.org</a>
                    </li>
                    <li>
                        {{fa-icon "gear" size="sm"}}
                        <a href="http://www.focusrs.org/forum/20-midwest-rs-owners/641-official-mn-thread.html">focusrs.org</a>
                    </li>
                </ul>
                <p>For the latest updates, and for those of you who just want to see what we're about, check out the {{#link-to 'posts'}}Posts{{/link-to}} page for an aggregation of forum, Facebook, and other MN ST-related postings!</p>
            </div>
        </div>
    </div>
</section>