<header class="palette-dark-gray">
    {{header-container}}
</header>
<main class="palette-dark-gray">
    {{outlet}}
</main>
<footer class="palette-dark-gray">
    <div>
        <h6>&copy; <a href="http://bpwalters.com">Ben Walters</a> 2016</h6>
        <p><em>This website is not produced, endorsed, supported, or affiliated with Ford Motor Company</em></p>
    </div>
</footer>