<section id="intro" class="palette-white">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="center-align">
                    <h2 class="section-heading no-margin">Welcome</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{{flex-carousel}}
