<section id="loading-placeholder" class="cover-container">
    <div class="absolute-middle-container center-align">
        <div>
            <h3>Loading...</h3>
            {{fa-icon "cog" size=4 spin=true}}
        </div>
    </div>
</section>