<section id="posts-title" class="section-heading palette-white">
    <div class="center-align">
        <h2>Latest Posts</h2>
    </div>
</section>
<section id="posts">
    <div class="container posts-container">
        {{#each model.polyPosts as |post|}}
            {{#if post.vbulletinPost}}
                {{vbulletin-post-item vbulletinPost=post.vbulletinPost}}
            {{else if post.facebookPost}}
                {{facebook-post-item facebookPost=post.facebookPost}}
            {{/if}}
        {{/each}}
    </div>
</section>